<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="logo.svg" />
  <link rel="stylesheet" href="dashboard.css">
  <title>Inventory App</title>
</head>
<body>
  <%- include('header') %>
  <div class="dashboard">
    <ul class="tables">
      <% tables.map(table => { %>
        <li>
          <% if ( active_table === table.table_name) { %>
            <div class="table <%=active_table%> active">
              <h2><%= table.table_name %></h2>
              <h3>Total <%= table.table_name %>: <%= table.total_items %></h3>
            </div>
          <% }else {%>
            <div class="table <%=table.table_name%> ">
              <h2><%= table.table_name %></h2>
              <h3>Total <%= table.table_name %>: <%= table.total_items %></h3>
            </div>
          <% } %>
        </li>
      <% }) %>
    </ul>

    <button class="add_row <%=active_table%>">
      Add new <%= active_table === 'categories' ? 'Category' : 'Brand' %>
    </button>

    <ul class="columns">
      <% table_rows.map(table_row => { %>
        <li class="column">
          <p><%= table_row.category %></p>
        </li>
      <% }) %>
    </ul>


    <dialog class="dialog dialogCategory">
      <form action="/dashboard/createCategory" method="post" name="dialogCategory">
        <h2>Create new Category</h2>
        <div>
          <label for="category">Name</label>
          <input type="text" name="category" id="category">
        </div>
        <div class="buttons">
          <button class="close">Close</button>
          <button type="submit" class="createCategory">Create</button>
        </div>
      </form>
    </dialog>

    <dialog class="dialog dialogBrand">
      <form action="/dashboard/createBrand" method="post" name="dialogBrand">
        <h2>Create new Brand</h2>
        <div>
          <label for="brand">Name</label>
          <input type="text" name="brand" id="brand">
        </div>
        <div class="buttons">
          <button class="close">Close</button>
          <button type="submit">Create</button>
        </div>
      </form>
    </dialog>


  </div>
  <!-- <%- include('footer') %> -->
  <script src="dashboardFunctions.js"></script>
</body>
</html>